.divinput{
    padding: 2rem;
}

.divbutton{
    padding: 2rem;
}

.divinput input{
    padding: 1rem;
    background-color: rgb(6, 100, 241);
    color: white;
    text-align: center;
    font-weight: bold;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
}

.divbutton button{
    padding: 1rem;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    opacity: 0.7;
    font-size: 20px;
    margin-left: 38px;

}


 h1{
    margin-left: 30px;
    background-color: rgb(6, 100, 241);
    display: inline-block;
    opacity: 0.7;
    border-radius: 20px;
    padding: 0.3rem 3rem;
    border: 2px solid black;
} 

section{
    
    text-align: center;
}